[workspace]
authors = ["ian <ian.page38@gmail.com>"]
channels = ["nvidia", "conda-forge", "pytorch"]
name = "workspace"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
download-weights = "bash pixi_scripts/download_weights.sh"
build-ceres = "bash pixi_scripts/build_ceres.sh"
build-colmap = { cmd = "bash pixi_scripts/build_colmap.sh", depends-on = ["build-ceres"] }
build-pycolmap = { cmd = "bash pixi_scripts/build_pycolmap.sh", depends-on = ["build-colmap"] }
build-glomap = { cmd = "bash pixi_scripts/build_glomap.sh", depends-on = ["build-colmap"] }
post-install = { depends-on = ["build-glomap", "build-pycolmap", "download-weights"] }
sfm = {cmd = "python3 scripts/pipeline.py"}
process-video = {cmd = "python3 scripts/process_video.py"}

[dependencies]
python = "3.10.*"
pip = "*"
scikit-build-core = "*"
clang-format = "*"
cmake = ">=3.28"
ninja = ">=1.11"
make = ">=4.3"
git = ">=2.52.0,<3"
pybind11 = ">=3.0.1,<4"
cxx-compiler = ">=1.5"
gxx_linux-64 = "12.*"
gcc_linux-64 = "12.*"
cuda-nvcc = "12.1.*"
cuda-version = "12.1"
# colmap = ">=3.9"  <-- Removing to build from source
ceres-solver = ">=2.1"
libcudss = { version = "*", channel = "conda-forge" }
libcudss-dev = { version = "*", channel = "conda-forge" }
eigen = ">=3.4"
boost = "*"
glog = ">=0.6"
gflags = ">=2.2"
suitesparse = ">=5.10"
ffmpeg = ">=6.0"
numpy = "<2.0"
h5py = ">=3.8"
trimesh = ">=4.0"
# pycolmap moved to pypi
pillow = ">=10.0"
requests = ">=2.31"
pyopengl = ">=3.1"
huggingface_hub = ">=0.19"
pytorch = { version = ">=2.1.0", channel = "pytorch" }
torchvision = { version = ">=0.16.0", channel = "pytorch" }
pytorch-cuda = { version = "12.1", channel = "pytorch" }

libgl-devel = ">=1.7.0,<2"
libglu = ">=9.0.3,<10"
cgal = ">=5.6.1,<6"
libcurand-dev = ">=10.3.2.106,<11"
cuda-cudart-dev = "12.1.*"
cuda-cudart-static = "12.1.*"
libcublas-dev = "12.1.*"
libcusolver-dev = "*"
libcusparse-dev = "*"
openimageio = "*"
glew = "*"
freeimage = "*"
libjpeg-turbo = { version = "*", channel = "conda-forge" }
setuptools = ">=80.9.0,<81"
wheel = ">=0.45.1,<0.46"

[pypi-dependencies]
dual-quaternions = ">=0.4.0, <0.5"
plyfile = ">=1.1.3, <2"
piexif = ">=1.1.3, <2"
pillow-heif = ">=1.1.1, <2"
hloc = { git = "https://github.com/cvg/Hierarchical-Localization.git" }
lightglue = { git = "https://github.com/cvg/LightGlue.git" }
# pycolmap = ">=0.6"
